.homebtn{
    border: 0;
    height: 75px;
    width: 75px;
    border-radius: 30px ;
}

body{
    background-color: #252A34;  
}

 .cabin{
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.title{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 20vh;
    color: #AD03DE;
}

.reset{
    display: flex;
    justify-content: center;
    align-content: end;
    height: 10vh;
}

.questions{
    height: 30vh;
}

.input{
    padding-top: 30px;
    text-align: center;
    color: #AD03DE;
    margin-bottom: 10px;
    font-size: 30px;
    height: 30vh;
}

.m-10{
    margin-top: 10px ;
}
#answer{
    height: 30px;
    border-radius: 10px;
}

#submit{
    height: 35px;
    width: 100px;
    border-radius: 10px;
    background-color: green;
    color:white;
    font-size: 25px;
    border: 0;
}

.randomq{
    text-align: center;
    font-size: 120px;
    color: #08D9D6;
    margin-bottom: 0;
}

.subtxt{
    text-align: center;
    font-size: 20px;
    color: lightblue;
}