body{
   background-color: #252A34;  
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.gamename{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #08D9D6;
    font-size: 100px;
}

.quizoption{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

.quizbtn{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    font-size: 30px;
    border:  black solid 10px;
    background-color: white;
}
.footer{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.copyright{
    text-align: center;
    color: #FF2E63;
    margin-bottom: 20px;
}

.lobster{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cabin{
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  




